# Django Settings
DJANGO_SECRET_KEY=*5f*tl1v=p0v=(l9f6e)*c7a-bq6mr=sl-!ub3hn42cq0m3br5
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=ALLOWED_HOSTS=localhost,127.0.0.1,django,linkapro_django,your-domain.com

# Database
DB_NAME=linkapro
DB_USER=linkapro_admin
DB_PASSWORD=linkapro_password
DB_HOST=localhost
DB_PORT=5432

TEST_DB_NAME=linkapro_test
TEST_DB_USER=linkapro_admin
TEST_DB_PASSWORD=linkapro_password
TEST_DB_HOST=localhost
TEST_DB_PORT=5432

# Redis
REDIS_URL=redis://localhost:6379/0

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# SendGrid
SENDGRID_API_KEY=your-sendgrid-key

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Flutterwave
FLW_SECRET_KEY=your_flutterwave_secret_key
FLW_SECRET_HASH=your_webhook_secret_hash
PAYMENT_ENV=test

# Flutterwave Webhook Decryptor
FLW_ENCRYPTION_KEY=your_24_byte_3des_key_here

# reCAPTCHA
RECAPTCHA_SITE_KEY=your-recaptcha-site-key
RECAPTCHA_SECRET_KEY=your-recaptcha-secret-key

# FastAPI Internal URL (for Celery tasks)
FASTAPI_INTERNAL_URL=http://fastapi:8000

# Vault
VAULT_ADDR=http://vault:8200
VAULT_ROLE_ID=your-role-id
VAULT_SECRET_ID=your-secret-id
VAULT_TRANSIT_KEY_NAME=linkapro-payments-kek

# HMAC Key Provider
PROVIDER_REFERENCE_HMAC_KEY=your-secure-hmac-key